*{
    margin:0;
    padding: 0;
}
a,a:visited,a:link{
    color:tomato;
}
body{
    background-color:#e1e1e1;
    font-size: 16px;
}
body > header,body > footer{
    text-align: center;
    min-height: 100px;
}
body > footer{
    background-color:#e0e0e0;
/*    bottom: 0;*/
    margin: 0 auto;
    min-height: 200px;
    padding: 20px 0;
/*    position:  absolute;*/
    width: 100%;
}
.b{
    border:solid thin gray;
}
#container{
    margin:0 auto;
    min-height: 300px;
    overflow: hidden;
    width: 75%;
}
#container > section{
    float: left;
/*    margin:1px 10px;*/
    margin:0 auto;
/*    margin-left: 10px;*/
    min-height: 160px;
    min-width: 200px;
    width: 30%;
}
@media screen and (max-width:980px){
    #container > section{
        float:none;
    }
}