*{
    margin:0;
    padding: 0;
}
body{
    background-color:#e8e8e8;
    font-size: 16px;
}
body > header,body > footer{
    text-align: center;
    min-height: 50px;
}
.b{
    border:solid thin gray;
}
#container{
    margin:0 auto;
    overflow: hidden;
    width: 75%;
}
#container > section{
    float: left;
/*    margin:1px 10px;*/
    margin:0 auto;
/*    margin-left: 10px;*/
    min-height: 160px;
    min-width: 200px;
    width: 30%;
}
@media screen and (max-width:980px){
    #container > section{
        float:none;
    }
}